{% extends "app/layout.html" %}
{% load static %}
{% block body %}

<body>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"> </script>
    <!-- <script ></script> -->
    {% load static %}

    <main>
        <!-- Hero Start-->
        <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>{{usertype}} Register Form</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if message %}
        <div>{{ message }}</div>
        {% endif %}
        <!--Hero End -->
        <!-- Form Area Start -->
        <div class="apply-area pt-150 pb-150">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="apply-wrapper">
                            <!-- Form -->
                            <!-- {% url 'register' usertype %} -->
                            <!-- <form action="" method="POST"> -->
                            {% csrf_token %}
                            <div class="row">
                                <!-- First Name -->
                                <div class="col-lg-6">
                                    <div class="single-form">
                                        <label>* FIRST NAME</label>
                                        <input type="text" name="first_name" placeholder="Enter name" required>
                                    </div>
                                </div>
                                <!-- Last Name -->
                                <div class="col-lg-6">
                                    <div class="single-form">
                                        <label>* Last NAME</label>
                                        <input type="text" name="last_name" placeholder="Enter name" required>
                                    </div>
                                </div>
                                <!-- Email -->
                                <div class="col-lg-12">
                                    <div class="single-form">
                                        <label>* Email Adderess</label>
                                        <input type="email" name="email" placeholder="Enter email" required>
                                    </div>
                                </div>
                                <!-- Password-1 -->
                                <div class="col-lg-6">
                                    <div class="single-form">
                                        <label>* AADHAR NO</label>
                                        <input type="text" name="aadhar" placeholder="Enter Aadhar" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="single-form">
                                        <label>* PASSWORD</label>
                                        <input type="password" name="password" placeholder="Enter name" required>
                                    </div>
                                </div>
                                <!-- Password-2 -->
                                <div class="col-lg-6">
                                    <div class="single-form">
                                        <label>* CONFIRM PASSWORD</label>
                                        <input type="password" name="confirmation" placeholder="Enter name" required>
                                    </div>
                                </div>
                            </div>
                            <!-- Register -->
                            <button class="btn apply-btn mt-30" onclick="add_user()">submit</button>
                            <!-- <input class="btn apply-btn mt-30" type="submit" value="Register"> -->
                            <!-- </form> -->
                            <button class="btn apply-btn mt-30" onclick="add_user()">submit</button>
                            <p>Already have an account? <a href="{% url 'login' %}" style="  color: blue">Log In
                                    here.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- From Area End -->
    </main>
    <!-- <script src="./static/assets/js/app.js" type="text/javascript"></script> -->

    <!-- </body> -->
    <script>
        console.log("in script")
        var name = $('#first_name').val() + " " + $('#last_name').val();
        console.log(name);
        var aadhar = $('#aadhar').val();
        console.log(aadhar);
        name = "ppraveen";
        aadhar = "123123123132432"
        function add_user() {
            AgentContract.methods.user(name, 1, aadhar).send({ from: acc }).on("confirmation", function (cnfno, receipt) {
                console.log("cnf : " + cnfno); console.log("receipt : " + receipt);
            }).on('receipt', function (receipt) {
                // receipt example
                console.log(receipt);

            })
        }


    </script>
</body>
{% endblock %}